html {
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
    background: linear-gradient(#00ffff,#0094ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    text-decoration:underline;
}

#titulo{
    text-align: left;
    padding-left:50px
}

#uhospital{
    text-align:center;
}

#texto{
    width:auto;
    margin:auto;
    padding:50px;
    padding-top:0px;
}

p{
    font-size:18px;
}

#login {
    background: #5db7f8;
    border-color: #5db7f8;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius:10px;
}

#registrarse {
    background: #5db7f8;
    border-color: #5db7f8;
    color: #ffffff; 
    font-size:15px;
    font-weight:bold;
    padding:5px;
    border-radius:10px;
}

#login:hover{
    animation: botones;
    animation-duration: 5s;
    animation-iteration-count: infinite
}

#registrarse:hover {
    animation: botones;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes botones{
    0%{background-color:#5db7f8;}
    50%{background-color:#ffffff;}
    100% {background-color: #5db7f8;}

    0% {color: #ffffff;}
    50% {color: #0045b1;}
    100% {color: #ffffff;}
}

#contenido{
    border:double;
    border-radius:10px;
    border-width:5px;
    padding-left:10px;
}