html {
    font-family: Bahnschrift, sans-serif;
    font-weight: bold;
    background: linear-gradient(#00ffff,#0094ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a:focus{
    outline:0;
}

a:active {
    border: inset;
    border-width: 2px;
}

a {
    text-shadow: 0 2px 2px #2f2e2e;
    padding: 8px;
    text-decoration:none;
    border:solid;
    border-color:#000000;
    border:2px;
    margin:10px
}

h2{
    text-decoration:underline;
}

#titulo{
    text-align: left;
    padding-left:45px;
    padding-top:20px
}

#uhospital{
    text-align:center;
}

#texto{
    width:auto;
    margin:auto;
    padding:50px;
    padding-top:0px;
}

p{
    font-size:18px;
}

#login {
    background: #0094ff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}

#registrarse {
    background: #0094ff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}

#registro{
    color:#0a00ff;
    text-decoration:underline;
    font-family:Arial;
    font-weight:normal;
    text-shadow: none;
    font-size:14px;
}

#crear {
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    text-shadow: none;
    font-size: 14px;
}

#login:hover{
    animation: botones;
    animation-duration: 5s;
    animation-iteration-count: infinite
}

button:focus{
    outline: none;
}

#registrarse:hover {
    animation: botones;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes botones{
    0%{background-color:#5db7f8;}
    50%{background-color:#ffffff;}
    100% {background-color: #5db7f8;}

    0% {color: #ffffff;}
    50% {color: #0045b1;}
    100% {color: #ffffff;}

    0% {text-shadow: 0 2px 2px #2f2e2e;}
    50% {text-shadow: 0 2px 2px #ffffff;}
    100% {text-shadow: 0 2px 2px #2f2e2e;}
}

#contenido{
    border:double;
    border-radius:10px;
    border-width:5px;
    padding-left:10px;
}

#iniciarSesion{
    background:#ffffff;
    width:auto;
    height:auto;
    text-align:center;
    position:center;
    padding:50px;
    padding-top:1px;
    margin:auto;
    border-radius:25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display:inline-block;
}

#Registro {
    background: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    padding: 50px;
    padding-top: 1px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display:inline-block;
}

#registro-login{
    width:auto;
    margin:0 auto;
    height:auto;
    margin-top:50px;
    text-align:center;
}

input {
    border-radius: 10px;
    padding: 8px;
    border:solid;
    border-width:1px;
    box-shadow: 0 2px 2px #808080
}

input:focus{
    outline:0;
}

button {
    background: #0094ff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border-color:#0094ff;
    padding:10px;
}

#reg {
    background: #0094ff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border-color: #0094ff;
    padding: 10px;
}

#nacimiento{
    width:175px;
    padding:7px;
    padding-left:10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    padding: 50px;
    padding-top: 1px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display: inline-block;
}

.tab button{
    border-radius: 0px;
}

.tabcontent {
    display: none;
}

#datos {
    padding: 20px;
    padding-top:0px;
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    margin: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display: inline-block;
}

#datos #nombre{
    font-weight:normal
}

#datos #usuario{
    font-weight:normal
}

#admin {
    margin: auto;
    width: 50%;
}

#modificar {
    padding: 5px;
}

#modificar_perfil {
    background: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    padding: 50px;
    padding-top: 1px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display: inline-block;
}

#modContainer {
    width: auto;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
    text-align: center;
}

table {
    width: auto;
    border-spacing: 0px;
}

th {
    background: #5db7f8
}

td {
    font-weight: normal;
}

th, td {
    text-align:center;
    padding: 10px;
}

table, th, td {
    border-collapse: collapse;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    min-width: 600px;
    border: 1px solid #706b6b;
    box-shadow: 0px 0px 20px #808080;
    border-radius: 10px;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: rgb(216, 214, 214);
}

.data-container {
    background: #ffffff;
    width: fit-content;
    height: auto;
    position: center;
    padding: 50px;
    margin: auto;
    border-radius: 25px;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    position: center;
    margin: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #2f2e2e;
    display: inline-block;
}