<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Administrar citas</title>
        <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
        <link rel="shortcut icon" href="#">
    </head>
    <style>
        .btn-rechazar {
            background-color: rgb(224, 63, 63);
            border-color: rgb(224, 63, 63);
        }

        .btn-aceptar {
            background-color: rgb(0, 250, 0);
            border-color: rgb(0, 250, 0);
        }
    </style>
    <body style="text-align: center;" onload="cargarDatosCitas()">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <div>
            <br><br>
            <button onclick="regresar()" style="float:left">Regresar</button>
            <br>
        </div>

        <div class="container" style="padding: 20px" id="contenedor">
            <div id="contenedor-tabla">
                <h1>Citas</h1>
                <table class="fa-table table-striped" id="table">
                    <tr class="bg-info">
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Motivo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                        <th>Doctor</th>
                    </tr>
                    <tbody id="tabla" class="center">
                    </tbody>
                </table>
            </div>
        </div>

        <script src="/static/scripts/main.js" type="text/javascript"></script>
        <script>
            let tipo = localStorage.getItem('tipo')
            let citas = {{ data | tojson}};
            let listaCitas = JSON.parse(citas)

            function cargarDatosCitas() {
           
                if (tipo == 'enfermera') {
                    llenarTabla(listaCitas)
            
                    function llenarTabla(data) {
                        var tabla = document.getElementById('tabla')
            
                        for (var i = 0; i < data.length; i++) {
                            const tr = document.createElement('tr')
                            tabla.appendChild(tr)

                            const fecha = document.createElement('label')
                            const fechaValue = document.createTextNode(data[i].fecha)
                            fecha.appendChild(fechaValue)
                            const tdfecha = document.createElement('td')
                            tdfecha.appendChild(fecha)
                            tr.appendChild(tdfecha)
            
                            const hora = document.createElement('label')
                            const horaValue = document.createTextNode(data[i].hora)
                            hora.appendChild(horaValue)
                            const tdhora = document.createElement('td')
                            tdhora.appendChild(hora)
                            tr.appendChild(tdhora)
            
                            const motivo = document.createElement('label')
                            const motivoValue = document.createTextNode(data[i].motivo)
                            motivo.appendChild(motivoValue)
                            const tdmotivo = document.createElement('td')
                            tdmotivo.appendChild(motivo)
                            tr.appendChild(tdmotivo)
                            
                            const estado = document.createElement('label')
                            const estadoValue = document.createTextNode(data[i].estado)
                            estado.appendChild(estadoValue)
                            estado.setAttribute('id', 'estado-'+i)
                            const tdestado = document.createElement('td')
                            tdestado.appendChild(estado)
                            tr.appendChild(tdestado)

                            const tdacciones = document.createElement('td')
                            tr.appendChild(tdacciones)

                            if (data[i].estado == 'pendiente') {
                                fetch('http://localhost:5000/lista-doctores', {
                                    method: 'GET',
                                    headers: headers,
                                })
                                    .then(response => response.json())
                                    .then(res => {
                                        doctores = []
                                        for (let i = 0; i < res.length; i++) {
                                            doctores.push(res[i].nombre+" "+res[i].apellido)
                                        }
            
                                        const doctor = document.createElement('select')
                                        doctor.setAttribute('id','doctor')
            
                                        for (let i = 0; i < doctores.length; i++) {
                                            const option = document.createElement('option')
                                            option.value = doctores[i]
                                            option.innerHTML = doctores[i]
                                            doctor.appendChild(option);
                                        }
            
                                        const tddoctor = document.createElement('td')
                                        tddoctor.appendChild(doctor)
                                        tr.appendChild(tddoctor)
                                    })

                                    const aceptar = document.createElement('button')
                                    aceptar.setAttribute('id','aceptar-'+data[i].id)
                                    aceptar.setAttribute('class', 'btn-aceptar')
                                    aceptar.textContent = 'Aceptar'
                                    tdacciones.appendChild(aceptar)
                                    aceptar.setAttribute('onclick', 'aceptarCita(this.id)')
        
                                    const rechazar = document.createElement('button')
                                    rechazar.setAttribute('id','rechazar-'+data[i].id)
                                    rechazar.setAttribute('class', 'btn-rechazar')
                                    rechazar.textContent = 'Rechazar'
                                    tdacciones.appendChild(rechazar)
                                    rechazar.setAttribute('onclick', 'rechazarCita(this.id)')                             
                            } else {
            
                                const doctor = document.createElement('label')
                                const doctorValue = document.createTextNode(data[i].doctor)
                                doctor.appendChild(doctorValue)
                                const tddoctor = document.createElement('td')
                                tddoctor.appendChild(doctor)
                                tr.appendChild(tddoctor)
                            }
                        }
                    } 
                } else if (tipo == 'doctor') {
                    let user = localStorage.getItem('nombreUsuario')

                    fetch('http://localhost:5000/ver-datos', {
                        method: 'POST',
                        headers: headers,
                        body: `{
                            "nombre de usuario":"${user}"
                        }`
                    })
                        .then(response => response.json())
                        .then(res => {
                            let datosDoctor = JSON.parse(JSON.stringify(res))
                            llenarTabla(listaCitas)
                            let nombreDoctor = datosDoctor.nombre+" "+datosDoctor.apellido

                            function llenarTabla(data) {
                                var tabla = document.getElementById('tabla')
                    
                                for (var i = 0; i < data.length; i++) {
                                    const tr = document.createElement('tr')
                                    tabla.appendChild(tr)

                                    const fecha = document.createElement('label')
                                    const fechaValue = document.createTextNode(data[i].fecha)
                                    fecha.appendChild(fechaValue)
                                    const tdfecha = document.createElement('td')
                                    tdfecha.appendChild(fecha)
                                    tr.appendChild(tdfecha)
                    
                                    const hora = document.createElement('label')
                                    const horaValue = document.createTextNode(data[i].hora)
                                    hora.appendChild(horaValue)
                                    const tdhora = document.createElement('td')
                                    tdhora.appendChild(hora)
                                    tr.appendChild(tdhora)
                    
                                    const motivo = document.createElement('label')
                                    const motivoValue = document.createTextNode(data[i].motivo)
                                    motivo.appendChild(motivoValue)
                                    const tdmotivo = document.createElement('td')
                                    tdmotivo.appendChild(motivo)
                                    tr.appendChild(tdmotivo)
                                    
                                    const estado = document.createElement('label')
                                    const estadoValue = document.createTextNode(data[i].estado)
                                    estado.appendChild(estadoValue)
                                    estado.setAttribute('id', 'estado-'+i)
                                    const tdestado = document.createElement('td')
                                    tdestado.appendChild(estado)
                                    tr.appendChild(tdestado)

                                    const tdacciones = document.createElement('td')
                                    tr.appendChild(tdacciones)
                                    
                                    if (data[i].estado == 'pendiente') {
                                        const aceptar = document.createElement('button')
                                        aceptar.setAttribute('id','aceptar-'+data[i].id)
                                        aceptar.setAttribute('class', 'btn-aceptar')
                                        aceptar.setAttribute('onclick', 'aceptarCitaDoctor(this.id)')
                                        aceptar.textContent = 'Aceptar'

                                        const rechazar = document.createElement('button')
                                        rechazar.setAttribute('id','rechazar-'+data[i].id)
                                        rechazar.setAttribute('class', 'btn-rechazar')
                                        aceptar.setAttribute('onclick', 'rechazarCitaDoctor(this.id)')
                                        rechazar.textContent = 'Rechazar'

                                        tdacciones.appendChild(aceptar)
                                        tdacciones.appendChild(rechazar)
                                    } else {
                                        const doctor = document.createElement('label')
                                        const doctorValue = document.createTextNode(data[i].doctor)
                                        doctor.appendChild(doctorValue)
                                        const tddoctor = document.createElement('td')
                                        tddoctor.appendChild(doctor)
                                        tr.appendChild(tddoctor)
                                    }
                                }
                            } 
                        })
                    
                    let contenedor = document.getElementById('contenedor')
                    
                    const br = document.createElement('br')
                    const br1 = document.createElement('br')
                    contenedor.appendChild(br)
                    contenedor.appendChild(br1)
                    const aceptadas = document.createElement('button')
                    aceptadas.textContent = 'Ver citas aceptadas'
                    aceptadas.setAttribute('onclick','irACitasAceptadas()')
                    contenedor.appendChild(aceptadas)
                } 
            }

            function aceptarCitaDoctor(id_boton) {
                let getId = id_boton.split('-') 
                let id = getId[1]
                console.log(id+" "+nombreDoctor)

                fetch('http://localhost:5000/administrar-citas', {
                    method: 'POST',
                    headers: headers,
                    body: `{
                        "id": ${id},
                        "doctor": "${nombreDoctor}",
                        "estado": "aceptada"
                    }`
                })
                    .then(response => response.json())
                    .then(res => {
                        if (res == 'cita modificada') {
                            alert('La cita ha sido aceptada')
                            location.reload()
                        } else {
                            alert('No se pudieron modificar los datos de la cita')
                         }
                     })
            }

            function rechazarCitaDoctor(id_boton) {
                let getId = id_boton.split('-') 
                let id = getId[1]
                console.log(id)

                fetch('http://localhost:5000/administrar-citas', {
                    method: 'POST',
                    headers: headers,
                    body: `{
                        "id": ${id},
                        "doctor": " ",
                        "estado": "rechazada"
                    }`
                })
                    .then(response => response.json())
                    .then(res => {
                        if (res == 'cita modificada') {
                            alert('La cita ha sido rechazada')
                            location.reload()
                        } else {
                            alert('No se pudieron modificar los datos de la cita')
                         }
                     })
            }

            function aceptarCita(id_boton) {
                let nombreDoctor = document.getElementById('doctor').value
                let getId = id_boton.split('-') 
                let id = getId[1]

                console.log(id+" "+nombreDoctor)
                fetch('http://localhost:5000/administrar-citas', {
                    method: 'POST',
                    headers: headers,
                    body: `{
                        "id": ${id},
                        "doctor": "${nombreDoctor}",
                        "estado": "aceptada"
                    }`
                })
                    .then(response => response.json())
                    .then(res => {
                        if (res == 'cita modificada') {
                            alert('La cita ha sido aceptada')
                            location.reload()
                        } else {
                            alert('No se pudieron modificar los datos de la cita')
                        }
                    })
                }

                function rechazarCita(id_boton) {
                    let getId = id_boton.split('-')
                    let id = getId[1]
                    console.log(id)

                    fetch('http://localhost:5000/administrar-citas', {
                        method: 'POST',
                        headers: headers,
                        body: `{
                            "id": ${id},
                            "doctor": " ",
                            "estado": "rechazada"
                        }`
                    })
                        .then(response => response.json())
                        .then(res => {
                            if (res == 'cita modificada') {
                                alert('La cita ha sido rechazada')
                                document.getElementById('rechazar-'+i).disabled = true
                                location.reload()
                            } else {
                                alert('No se pudieron modificar los datos de la cita')
                             }
                         })
                }  

            function irACitasAceptadas() {
                window.location.replace('http://localhost:5000/citas-aceptadas-doctor')
            }

            function regresar() {
                if (tipo == 'enfermera') {
                    window.location.replace('http://localhost:5000/enfermero')
                } else if (tipo == 'doctor') {
                    window.location.replace('http://localhost:5000/doctor')
                }
            }
        </script>
    </body>
</html>