<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css" />
    <title>Datos Doctores</title>
    <link rel="shortcut icon" href="#" />
</head>
<body style="text-align: center;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.js"></script>

    <div class="container" style="padding: 20px">
        <div id="contenedor-tabla">
            <h1>Datos de los Doctores</h1>
            <div class="contenedor-boton-pdf">
                <button id="generarPDF">Generar Reporte en PDF</button>
            </div>
            <br>
            <table class="fa-table table-striped" id="table">
                <tr class="bg-info">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Sexo</th>
                    <th>Nombre de usuario</th>
                    <th>Especialidad</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
                <tbody id="tabla" class="center">
                </tbody>
            </table>
        </div>
    </div>

    <script src="/static/scripts/main.js" type="text/javascript"></script>

    <script>
        var doctores = {{ data | tojson }};
        let listaDoctores = JSON.parse(doctores);

        llenarTabla(listaDoctores)

        function llenarTabla(data) {
            var tabla = document.getElementById('tabla')
            doctor = 'doctor'

            for (var i = 0; i < listaDoctores.length; i++) {
                var fila = `<tr>
    	                         <td>${data[i].nombre}</td>
    	                         <td>${data[i].apellido}</td>
    	                         <td>${data[i].fecha}</td>
    	                         <td>${data[i].sexo}</td>
    	                         <td>${data[i]['nombre de usuario']}</td>
                                 <td>${data[i].especialidad}</td>
    	                         <td>${data[i].telefono}</td>
                                 <td><button style="background: red;
                                                    border-color: white;" onclick="eliminar(doctor)">Eliminar</button>
                                     <button style="background: green;
                                                    border-color: white;" onclick="enviarInfoAMod(doctor)">Modificar</button>
                                     <button style="background: blue;
                                                    border-color: white;" onclick="enviarInfo(doctor)">Ver info</button></td>
                            </tr>`
                tabla.innerHTML += fila
            }
        }

        let boton = document.getElementById('generarPDF')
        boton.addEventListener("click", () => {
            const tabla = document.getElementById('table')
            html2pdf(tabla, {
                margin: 10,
                filename: 'listado de doctores.pdf'
            })            
        })
    </script>
</body>
</html>