﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
    <link rel="shortcut icon" href="#">
</head>
<body onload="cargarDatos()" style="text-align: center;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.js"></script>

    <div>
        <br><br>
        <button onclick="cerrarSesion()" style="float:left">Cerrar Sesion</button>
        <br>
    </div>

    <div id="admin" class="actions-container">
        <h1>Administrador</h1>

        <div id="datos">
            <h4>
                Datos del usuario
            </h4>
            <label>Nombre:&nbsp;</label>
            <label id="nombre"></label>
            <br /><br />
            <label>Nombre de usuario:&nbsp;</label>
            <label id="usuario"></label>
            <br /><br />
            <button id="modificar" onclick="enviarInfoUsuario('administrador')">Modificar Perfil</button>
        </div>
        <hr />
        <div class="tab">
            <button class="tablinks" onclick="abrirMenu(event, 'defaultOpen')">Pacientes</button>
            <button class="tablinks" onclick="abrirMenu(event, 'doctores')">Doctores</button>
            <button class="tablinks" onclick="abrirMenu(event, 'enfermeros')">Enfermeros</button>
            <button class="tablinks" onclick="abrirMenu(event, 'medicamentos')">Medicamentos</button>

            <div id="defaultOpen" class="tabcontent">
                <h4>Pacientes</h4>
                <form action="http://localhost:5000/admin/cargarpacientes" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="pacientes">Cargar pacientes:</label>
                        <input type="file" class="file-input" name="pacientes" id="pacientes" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Cargar pacientes</button>

                </form>
            </div>

            <div id="doctores" class="tabcontent">
                <h4>Doctores</h4>
                <form action="http://localhost:5000/admin/cargardoctores" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="doctores">Cargar doctores:</label>
                        <input type="file" class="file-input" name="doctores" id="doctores" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Cargar doctores</button>

                </form>
            </div>

            <div id="enfermeros" class="tabcontent">
                <h4>Enfermeras</h4>
                <form action="http://localhost:5000/admin/cargarenfermeros" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="enfermeras">Cargar enfermeras:</label>
                        <input type="file" class="file-input" name="enfermeras" id="enfermeras" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Cargar enfermeras</button>

                </form>
            </div>

            <div id="medicamentos" class="tabcontent">
                <h4>Medicamentos</h4>
                <form action="http://localhost:5000/admin/cargarmedicamentos" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="medicamentos">Cargar medicamentos:</label>
                        <input type="file" class="file-input" name="medicamentos" id="medicamentos" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Cargar medicamentos</button>

                </form>
            </div>
        </div>

        <hr />

        <div class="data-container">
            <h4>Visualizacion de datos</h4>
            <button class="btn-redirect" id="datos-pacientes">Datos Pacientes</button>
            <button class="btn-redirect" id="datos-doctores">Datos Doctores</button>
            <button class="btn-redirect" id="datos-enfermeros">Datos Enfermeras</button>
            <button class="btn-redirect" id="datos-medicamentos">Datos Medicamentos</button>
        </div>
        <hr>
        <div class="data-container">
            <h4>Generar Reportes</h4>
            <button class="btn-report" id="mas-vendidos" onclick="reporteVendidos()">Medicamentos mas vendidos</button>
            <button class="btn-report" id="mas-citas" onclick="reporteCitas()" >Doctores con mas citas</button>
            <button class="btn-report" id="enfermedades" onclick="reporteEnfermedades()">Enfermedades mas comunes</button>
        </div>
    </div>

    <div id="reporte">

    </div>

    <script src="/static/scripts/main.js" type="text/javascript"></script>

    <script>
        document.getElementById("defaultOpen").click();

        document.getElementById('datos-pacientes').onclick = verDatos;
        document.getElementById('datos-doctores').onclick = verDatos;
        document.getElementById('datos-enfermeros').onclick = verDatos;
        document.getElementById('datos-medicamentos').onclick = verDatos;

        function verDatos(clicked) {
            if (this.id == 'datos-pacientes') {
                window.location.replace("http://localhost:5000/datos-pacientes");
            }

            if (this.id == 'datos-doctores') {
                window.location.replace("http://localhost:5000/datos-doctores");
            }

            if (this.id == 'datos-enfermeros') {
                window.location.replace("http://localhost:5000/datos-enfermeras");
            }

            if (this.id == 'datos-medicamentos') {
                window.location.replace("http://localhost:5000/datos-medicamentos");
            }
        }

        function reporteVendidos() {
            fetch('http://localhost:5000/reportes', {
                method: 'POST',
                headers: headers,
                body: `{
                    "tipo":"mas vendidos"
                }`,
            })   
                .then(response => response.json())
                .then(res => {
                    var medicamentos = res
                    console.log(medicamentos)
                    let rep = document.getElementById('reporte')

                    const div = document.createElement('div')
                    div.setAttribute('class','container')
                    rep.appendChild(div)

                    const h1 = document.createElement('h1')
                    const h1Text = document.createTextNode('Medicamentos mas vendidos')
                    h1.appendChild(h1Text)
                    div.appendChild(h1)

                    const tabla = document.createElement('table')
                    div.appendChild(tabla)
                    const tbody = document.createElement('tbody')
                    tabla.appendChild(tbody)

                    for (let i = 0; i < medicamentos.length; i++) {
                        const tr = document.createElement('tr')
                        tbody.appendChild(tr)

                        const med = document.createElement('label')
                        const medText = document.createTextNode(medicamentos[i])
                        console.log(medicamentos[i])
                        med.appendChild(medText)
                        const tdmed = document.createElement('td')
                        tdmed.appendChild(med)
                        tbody.appendChild(tdmed)
                    }

                    html2pdf(div, {
                        margin: 10,
                        filename: 'Reporte de Medicamentos Mas Vendidos'
                    })

                    rep.removeChild(div)
                })
        }

        function reporteCitas() {
            fetch('http://localhost:5000/reportes', {
                method: 'POST',
                headers: headers,
                body: `{
                    "tipo":"citas"
                }`,
            })   
                .then(response => response.json())
                .then(res => {
                    var doctores = res

                    let rep = document.getElementById('reporte')

                    const div = document.createElement('div')
                    div.setAttribute('class','container')
                    rep.appendChild(div)

                    const h1 = document.createElement('h1')
                    const h1Text = document.createTextNode('Doctores con mas citas')
                    h1.appendChild(h1Text)
                    div.appendChild(h1)

                    const tabla = document.createElement('table')
                    div.appendChild(tabla)

                    const tbody = document.createElement('tbody')
                    tabla.appendChild(tbody)

                    for (let i = 0; i < medicamentos.length; i++) {
                        const tr = document.createElement('tr')
                        tbody.appendChild(tr)

                        const med = document.createElement('label')
                        const medText = document.createTextNode(doctores[i])
                        med.appendChild(medText)
                        const tdmed = document.createElement('td')
                        tdmed.appendChild(med)
                        tbody.appendChild(tdmed)
                    }

                    html2pdf(div, {
                        margin: 10,
                        filename: 'Reporte de Doctores con mas citas'
                    })

                    rep.removeChild(div)
                })
        }

        function reporteEnfermedades() {
            fetch('http://localhost:5000/reportes', {
                method: 'POST',
                headers: headers,
                body: `{
                    "tipo":"enfermedades"
                }`,
            })   
                .then(response => response.json())
                .then(res => {
                    var enfermedades = res

                    let rep = document.getElementById('reporte')

                    const div = document.createElement('div')
                    div.setAttribute('class','container')
                    rep.appendChild(div)

                    const h1 = document.createElement('h1')
                    const h1Text = document.createTextNode('Enfermedades mas comunes')
                    h1.appendChild(h1Text)
                    div.appendChild(h1)

                    const tabla = document.createElement('table')
                    div.appendChild(tabla)

                    const tbody = document.createElement('tbody')
                    tabla.appendChild(tbody)

                    for (let i = 0; i < medicamentos.length; i++) {
                        const tr = document.createElement('tr')
                        tbody.appendChild(tr)

                        const med = document.createElement('label')
                        const medText = document.createTextNode(enfermedades[i])
                        med.appendChild(medText)
                        const tdmed = document.createElement('td')
                        tdmed.appendChild(med)
                        tbody.appendChild(tdmed)
                    }

                    html2pdf(div, {
                        margin: 10,
                        filename: 'Reporte de Enfermedades mas comunes'
                    })

                    rep.removeChild(div)
                })
        }
    </script>
</body>
</html>