<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Paciente</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
    <link rel="shortcut icon" href="#">
    <script src="/static/scripts/main.js" type="text/javascript"></script>
</head>
<body onload="cargarDatos()" style="text-align: center;">
    <div>
        <br><br>
        <button onclick="cerrarSesion()" style="float:left">Cerrar Sesion</button>
        <br>
    </div>


    <h1>Paciente</h1>

    <div id="datos">
        <h4>
            Datos del usuario
        </h4>
        <label>Nombre:&nbsp;</label>
        <label id="nombre"></label>
        <br /><br />
        <label>Nombre de usuario:&nbsp;</label>
        <label id="usuario"></label>
        <br /><br />
        <button id="modificar" onclick="enviarInfoUsuario('paciente')">Modificar Perfil</button>
    </div>
    <br><br>
    <div class="container">
        <h4>Acciones</h4>
        <div class="btn-container">
            <button class="btn-request" id="solicitar-cita" onclick="cita()">Solicitar cita</button>
        </div>
        <br>
        <div class="btn-container">
            <button class="btn-request" id="comprar-medicina" onclick="comprar()">Comprar Medicina</button>
        </div>
    </div>
    <script>
        function comprar() {
            window.location.replace("http://localhost:4041/comprar")
        }
    </script>
</body>
</html>