<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Doctores</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
    <link rel="shortcut icon" href="#">
</head>
<body onload="cargarDatos()" style="text-align: center;">
    <div>
        <br><br>
        <button onclick="cerrarSesion()" style="float:left">Cerrar Sesion</button>
        <br>
    </div>

    <h1>Doctores</h1>
    <div id="datos">
        <h4>
            Datos del usuario
        </h4>
        <label>Nombre:&nbsp;</label>
        <label id="nombre"></label>
        <br /><br />
        <label>Nombre de usuario:&nbsp;</label>
        <label id="usuario"></label>
        <br /><br />
        <button id="modificar" onclick="enviarInfoUsuario('doctor')">Modificar Perfil</button>
    </div>
    <br><br>
    <div class="container">
        <button class="btn-citas" id="ver-citas" onclick="irACitas('doctor')">Ver todas las citas</button>
        <button class="btn-receta" id="generar-receta" onclick="generarReceta()">Generar Receta</button>
    </div>
    <script src="/static/scripts/main.js" type="text/javascript"></script>
    <script>
        function generarReceta() {
            window.location.replace('http://EXTERNAL:5000/generar-receta')
        }
    </script>
</body>
</html>