<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Enfermeras</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
    <link rel="shortcut icon" href="#">
</head>
<body onload="cargarDatos()" style="text-align: center;">
    <div>
        <br><br>
        <button onclick="cerrarSesion()" style="float:left">Cerrar Sesion</button>
        <br>
    </div>
    
    <h1>Enfermera</h1>
    <div id="datos" class="container">
        <h4>
            Datos del usuario
        </h4>
        <label>Nombre:&nbsp;</label>
        <label id="nombre"></label>
        <br /><br />
        <label>Nombre de usuario:&nbsp;</label>
        <label id="usuario"></label>
        <br /><br />
        <button id="modificar" onclick="enviarInfoUsuario('enfermera')">Modificar Perfil</button>
    </div>
    <br><br>
    <div class="container">
        <h3>Acciones</h3>
        <div class="btn-container">
            <button class="btn-citas" id="ver-citas" onclick="irACitas('enfermera')">Ver todas las citas</button>
            <button class="btn-aceptadas" id="ver-aceptadas" onclick="navegar(aceptadas)">Ver citas aceptadas</button>
            <button class="btn-factura" id="facturas" onclick="navegar(facturas)">Generar Factura</button>
        </div>
    </div>

    <script src="/static/scripts/main.js" type="text/javascript"></script>
    <script>
    let aceptadas = 'http://34.69.253.122:5000/citas-aceptadas'
    let facturas = 'http://34.69.253.122:5000/generar-factura' 

    function navegar(dir) {
        window.location.replace(dir)
    }
    </script>
</body>
</html>