<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Doctores</title>
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" />
    <link rel="shortcut icon" href="#">
</head>
<body onload="cargarDatos()" style="text-align: center;">
    <h1>Doctores</h1>

    <div id="datos">
        <h4>
            Datos del usuario
        </h4>
        <label>Nombre:&nbsp;</label>
        <label id="nombre"></label>
        <br /><br />
        <label>Nombre de usuario:&nbsp;</label>
        <label id="usuario"></label>
        <br /><br />
        <button id="modificar" onclick="enviarInfoUsuario('doctor')">Modificar Perfil</button>
    </div>
    <script src="/static/scripts/main.js" type="text/javascript"></script>
</body>
</html>