<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />
    <title>Registro</title>
    <link rel="icon" href="icono.jpg">
</head>
<body>
    <div id="registro-login" class="signup-container">
        <br /><br /><br /><br />
        <div id="Registro" class="mb-3">

            <h1>Registro</h1>

            <div class="wrap-input100 validate-input">
                <label for="nombre">Nombre:&nbsp;</label>
                <input type="text" class="input100" name="nombre" id="nombre" placeholder="Ingrese su nombre" required />
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                <label for="apellido">Apellido:&nbsp;</label>
                <input type="text" class="input100" name="apellido" id="apellido" placeholder="Ingrese su apellido" required />
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                <label for="nacimiento">Fecha de Nacimiento:&nbsp;</label>
                <input type="date" class="input100" name="nacimiento" id="nacimiento" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                <label for="usuario">Nombre de usuario:&nbsp;</label>
                <input type="text" class="input100" name="usuario" id="usuario" placeholder="Ingrese nombre de usuario" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                <label for="password">Contraseña:&nbsp;</label>
                <input type="password" class="input100" name="password" id="password" placeholder="***********" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                <label for="sexo">Sexo:&nbsp;&nbsp;&nbsp;</label>
                <label for="masculino" style="font-weight:lighter;">M</label>
                <input type="radio" class="input100" value="M" id="masculino" name="genero" style="box-shadow: none;" />
                &nbsp;&nbsp;&nbsp;
                <label for="femenino" style="font-weight:lighter">F</label>
                <input type="radio" class="input100" value="F" id="femenino" name="genero" style="box-shadow: none;" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
            <div class="wrap-input100 validate-input">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="telefono">Telefono:&nbsp;</label>
                <input type="number" class="input100" name="telefono" id="telefono" placeholder="12345678" />
                <label id="opcional" style="font-weight:lighter; font-family:Arial; font-size:14px">(opcional)</label>
            </div>
            <br />
            <div class="container-register-form-btn">
                <button class="register-form-btn" onclick="registrarse()">
                    Registrarse
                </button>
            </div>
            <br />
            <label id="crear">¿Ya tiene una cuenta?</label>
            <br />
            <a href="http://127.0.01:5000/login" id="registro">Iniciar Sesion</a>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>>

    <script>
        let headers = new Headers();
        headers.append('Content-Type', 'application/json');
        headers.append('Accept', 'application/json');
        headers.append('Access-Control-Allow-Origin', 'http://127.0.01:5000');
        headers.append('Access-Control-Allow-Credentials', 'true');
        headers.append('GET', 'POST', 'OPTIONS');

        function registrarse() {
            let nombre = document.getElementById("nombre").value;
            let apellido = document.getElementById("apellido").value;
            let nacimiento = document.getElementById("nacimiento").value;
            let usuario = document.getElementById("usuario").value;
            let password = document.getElementById("password").value;
            let telefono = document.getElementById("telefono").value;
            let elemento = document.getElementsByName("genero");
            let sexo;

            for (i = 0; i < elemento.length; i++) {
                if (elemento[i].checked)
                    sexo = elemento[i].value;
                break;
            }

            if (nombre == "" || apellido == "" || nacimiento == "" || usuario == "" || password == "" || sexo == "") {
                alert("Faltan datos por ingresar.")
            } else {
                fetch('http://127.0.01:5000/registropacientes', {
                    method: 'POST',
                    headers: headers,
                    body: `{
                "nombre":"${nombre}",
                "apellido":"${apellido}",
                "fecha":"${nacimiento}",
    	        "nombre de usuario":"${usuario}",
                "password":"${password}",
                "telefono":"${telefono}",
                "sexo":"${sexo}"
                }`,
                })

                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data == "datos ingresados") {
                            alert('Usuario registrado')
                        } else if (data == "El nombre de usuario ya existe") {
                            alert('Este nombre de usuario ya existe.')
                        }
                    })
            }                          
        }
    </script>
</body>
</html>