<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />
    <meta charset="utf-8" />
    <title>UHospital</title>
    <link rel="icon" href="icono.jpg">
</head>
<style>
    #contenido{
        background: white;
    }
</style>
<body>
    <div id="titulo">
        <a href="http://34.69.253.122:5000/login" id="login">Iniciar sesion</a>
        <a href="http://34.69.253.122:5000/registropacientes" id="registrarse">Registrarse</a> 
        <h1 id="uhospital">UHospital</h1>
    </div>
    <div id="texto">
        <div id="contenido">
            <h2>Misión</h2>
            <p>Brindarle atención médica de la mejor calidad a la población.</p>
        </div>

        <div id="contenido">
            <h2>Visión</h2>
            <p>Brindar una atención médica que deje satisfechos a los clientes.</p>
        </div>

        <div id="contenido">
            <h2>Acerca de</h2>
            <p>Hospital</p>
        </div>

        <div id="contenido">
            <h2>Medidas de prevención del COVID</h2>
            <ul>
                <li>Lávate las manos con frecuencia. Usa agua y jabón o un desinfectante de manos a base de alcohol.</li>
                <li>Mantén una distancia de seguridad con personas que tosan o estornuden.</li>
                <li>Utiliza mascarilla cuando no sea posible mantener el distanciamiento físico.</li>
                <li>No te toques los ojos, la nariz ni la boca.</li>
                <li>Cuando tosas o estornudes, cúbrete la nariz y la boca con el codo flexionado o con un pañuelo.</li>
                <li>Si no te encuentras bien, quédate en casa.</li>
                <li>En caso de que tengas fiebre, tos o dificultad para respirar, busca atención médica.</li>
            </ul>               
        </div>

        <div id="contenido">
            <h2>Contáctenos</h2>
            <label for="tel">Telefono:&nbsp;</label>
            <label id="tel" name="tel" style="font-weight: normal;">5452-6373</label>
            <br>
            <label for="correo">Correo:&nbsp;</label>
            <label id="correo" name="correo" style="font-weight: normal;">UHospital@gmail.com</label>
        </div>        

        <div id="contenido">
            <h2>Información Estudiante</h2>
            <label for="nombre">Nombre:&nbsp;</label>
            <label id="nombre" name="nombre" style="font-weight: normal;">Luis Pedro Pérez Monzón</label>
            <br>
            <label for="carnet">Carnet:&nbsp;</label>
            <label id="carnet" name="carnet" style="font-weight: normal;">201901271</label>
        </div>       
    </div>
</body>
</html>